blinker==1.9.0
cbor2==5.7.1
cffi==2.0.0
click==8.3.0
Flask==3.1.2
itsdangerous==2.2.0
Jinja2==3.1.6
lgpio==0.2.2.0
luma.core==2.5.2
luma.oled==3.14.0
MarkupSafe==3.0.3
numpy==2.3.4
paho-mqtt==2.1.0
pillow==12.0.0
pycparser==2.23
pyserial==3.5
rpi-lgpio==0.6
scipy==1.16.3
smbus==1.1
smbus2==0.5.0
sounddevice==0.5.3
Werkzeug==3.1.3
